#studentInfoRow 
{
    display: grid;
    grid-template-areas: 'ToMeet Title .';
    grid-template-columns: 33% 33% 33%;
    margin-top: 0;
    padding-top: 0;
}

#studentInfoRow > v-col:first-of-type 
{
    grid-area: ToMeet;
}

#studentInfoRow > v-col:nth-of-type(2)
{
    grid-area: Title;
}