* {
    color: #0169B0;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

thead span {
    color: #FC8D33;
    font-size: large;
}

tbody tr:nth-of-type(odd) {
    /* 'teal lighten-5' basides on material design color */
    background-color: #FFFFFF;
}

tbody tr:nth-of-type(even) {
    /* 'deep-orange lighten-5' basides on material design color */
    background-color: #dddddd;
}